* {
    box-sizing: border-box;
}
body {
    background: url(src/img/composition-many-daisy-flower-buds.png) top / 100% ;
    font-size: 16px;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 15%;
}

section {
    width: 80%;
    margin: 0 auto;
}

/* HEADER */

header {
    text-align: center;
}

header h1 {
    font-size: 4em;
    text-transform: uppercase;
    color:#f84cc2;
}

header span {
    text-transform: capitalize;
}

header p {
    font-size: 1.5em;
    width: 50%;
    letter-spacing: 0.1em;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* CONTENU */

.contenu  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produits {
    border: 3px solid #f1b0dc;
    border-radius: 30px;
    background: #ffffff;
    margin: 15px;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    height: 350px;
}

.produits h2 {
   order: 1;
   color: #000000;
   text-transform: uppercase;
   font-size: 1em;
   text-align: center;
}

.produits a {
    order: 0;

}

.produits p {
    order: 2;
    border: 1px solid #000;
    border-radius: 90px;
    padding: 15px;
    background: #f1b0dc;
    cursor: pointer;
    color: #000;
}

.produits p:hover{
    background: #f19dd7;
}

/* STYLE DE LA PAGE IDENTITE */

form {
    /* background: red; */
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
    padding: 25px;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

input[type="text"]{
    width: 300px;
    height: 50px;
    border: none;
    margin: 20px 0;
    text-align: center;
    color: #f1b0dc;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
}

input[type="text"]:focus {
    color: #f19dd7;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
}

input[type="submit"] {
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #f1b0dc;
    background: #f1b0dc;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: #fff;
}

input[type="submit"]:hover {
    background: #f19dd7;
}

.form-submit {
    text-align: end;
}

/* #6d071a
#c45824
#e0afff */


/* responsive */

@media (max-width: 500px) {
    .produits {
        flex-direction: column;
    }
}