body {
    background: url(src/img/composition-many-daisy-flower-buds.jpg) top / 100% ;
}

img {
    height: 350px;
    width: 300px;
    border-radius: 15%;
}


h1 {
    color: red;
}

.produits {
    border: 3px solid #f1b0dc;
    border-radius: 30px;
    background: #ffffff7a;
    margin: 15px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 50%; */
}

.produits h2 {
   order: 1;
   color: #000000;
   text-transform: uppercase;
}

.produits a {
    order: 0;


}

.produits p {
    order: 2;
    border: 1px solid #000;
    border-radius: 90px;
    padding: 15px;
    background: #f1b0dc;
    cursor: pointer;
    color: #000;
}

.produits p:hover{
    background: #f19dd7;
}

/* #6d071a
#c45824
#e0afff */